/* start gobal rules  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

:root {
    --Mcolor: #0271f7;
    --Scolor: #ed616a;
    --Mtransition: 1s;
    --lignheit: 1.8;
    --padding: 20px;
    --margin: 20px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

header {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 9;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: var(--padding);
    padding-bottom: var(--padding);
    min-height: 90px;
}

.container nav ul {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: var(--Mtransition);

}

.container nav i {
    font-size: 25px;
}

@media (min-width: 993px) {
    .container nav i {
        display: none;
    }
}

@media (max-width: 992px) {
    .container nav ul {
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 100%;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.221);
        padding: var(--padding) 0;
        display: none;
    }

    .container nav i:hover+ul {
        display: flex;
    }
}

.container nav ul li {
    margin-left: 10px;
}

.container nav ul li a {
    text-decoration: none;
    text-transform: capitalize;
    display: inline-block;
    font-size: 18px;
    padding: 10px 20px;
    position: relative;
    border-radius: 20px;
    color: white;
}

.container nav ul li:nth-of-type(4) a {
    background-color: #0270f7;
}

.container nav ul li:last-of-type a {
    background-color: #ed616a;
    text-transform: uppercase;
}

.container nav ul li a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #0270f7;
    transition: var(--Mtransition);
    -webkit-transition: var(--Mtransition);
    -moz-transition: var(--Mtransition);
    -ms-transition: var(--Mtransition);
    -o-transition: var(--Mtransition);
    border-radius: 20px;
    z-index: -1;
}

.container nav ul li:not(:nth-of-type(4)):not(:last-of-type) a:hover::before {
    width: 100%;
}

.landing {
    padding-top: 100px;
    min-height: 600px;
    background-image: linear-gradient(120deg,
            #0271f7 0, #0271f7 40%,
            #007cf8 40%, #007cf8 70%,
            #0588f4 70%);
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
    position: relative;
}

.landing div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}


.landing div h1 {
    font-size: 70px;
    margin-top: 80px;
    text-transform: uppercase;
}

@media (max-width:768px) {
    .landing div h1 {
        font-size: 33px;
    }
}

.landing div p {
    font-size: 20px;
    text-transform: capitalize;
}

@media (max-width:768px) {
    .landing div p {
        font-size: 15px;
    }
}

/* start contact */
.contact {
    padding-top: 100px;
    padding-bottom: 100px;
}

.contact .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 20px;
}

.contact .container .card.one {
    background-color: #eee;
    padding: var(--padding);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.contact .container .card.one>p:first-of-type {
    color: var(--Scolor);
    padding-top: var(--padding);
    text-transform: uppercase;
    font-size: 15px;
}

.contact .container .card.one h1 {
    text-transform: capitalize;
}

.contact .container .card.one>p:last-of-type {
    line-height: var(--lignheit);
    font-weight: normal;
    font-size: 14px;
    color: #777;
    margin-bottom: var(--margin);
}

.contact .container .card.one address h5 {
    margin-bottom: 10px;
    color: var(--Mcolor);
    text-transform: uppercase;
}

.contact .container .card.one address p {
    margin-bottom: var(--margin);
    font-size: 13px;
    color: #777;
}

.contact .container .card.one address p:not(:last-of-type) {
    text-transform: capitalize;
}

.contact .container .card.two form div {
    margin-top: 50px;
    margin-bottom: 50px;
}

.contact .container .card.two form div input {
    border: 1px solid var(--Mcolor);
    outline: none;
    padding-left: var(--padding);
    width: calc(95% / 2);
    height: 40px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.contact .container .card.two form div input:focus,
.contact .container .card.two form textarea:focus {
    transition: var(--Mtransition);
    -webkit-transition: var(--Mtransition);
    -moz-transition: var(--Mtransition);
    -ms-transition: var(--Mtransition);
    -o-transition: var(--Mtransition);
}

.contact .container .card.two form div input:focus,
.contact .container .card.two form textarea:focus {
    border-color: var(--Scolor);
}

.contact .container .card.two form div input::placeholder {
    color: #777;
    text-transform: capitalize;
}

.contact .container .card.two form textarea {
    display: block;
    width: 95%;
    height: 200px;
    border: 1px solid var(--Mcolor);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: var(--padding);
    text-transform: capitalize;
    outline: none;
}


.contact .container .card.two form input[type="submit"] {
    display: block;
    margin: 20px auto;
    width: fit-content;
    height: fit-content;
    padding: 10px 20px;
    background-color: var(--Scolor);
    border: 1px solid var(--Scolor);
    outline: none;
    color: white;
    text-transform: uppercase;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: var(--Mtransition);
    -webkit-transition: var(--Mtransition);
    -moz-transition: var(--Mtransition);
    -ms-transition: var(--Mtransition);
    -o-transition: var(--Mtransition);
}

/* end contact */

footer {
    background-image: linear-gradient(120deg,
            #0271f7 0, #0271f7 40%,
            #007cf8 40%, #007cf8 70%,
            #0588f4 70%);
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .container {
    text-align: center;
}

footer .container p {
    font-size: 18px;
    margin-bottom: var(--margin);
}

footer .container span {
    color: white;
    font-weight: 900;
    font-size: 20px;
}

@media (max-width:767px) {
    footer .container p {
        font-size: 15px;
        margin-bottom: var(--margin);
    }

    footer .container span {
        font-size: 18px;
        display: block;
    }
}